:root {
    --background-color-1: rgb(255, 255, 255);
    --success-background-color: rgb(255, 255, 255, .5);
    --background-color-2: rgb(245, 245, 245);
    --theme-color: rgb(40, 40, 40);
    --error-color: rgb(156, 28, 28);
    --font-family: 'Poppins', sans-serif;
    --font-family-2: 'Cinzel', serif;
    --transition: .3s;
    --border-radius: 5px;
    --animation-duration: .7s;
}