


// ----- ----- ----- --------------- ----- -----
// ----- ----- ----- Navigation Menu ----- -----
// ----- ----- ----- --------------- ----- -----



@media only screen and (max-width: 1000px) {

    .navParent {
        
        .menuParent {

            .menu {

                ul li a {
                    margin: 0 20px !important;
                }
            }
        }
    }

}

@media only screen and (max-width: 800px) {

    .navParent {
        justify-content: space-between !important;
        height: 70px !important;

        .logoParent {
            margin-left: 60px !important;

            .logo {
                width: 50px !important;
                height: 50px !important;
            }
        }

        .menuParent {
            display: none !important;
        }

        .mobileMenuToggle {
            display: block !important;
            margin-right: 60px !important;
        }
    }

}

@media only screen and (max-width: 700px) {

    .navParent {

        .logoParent {
            margin-left: 40px !important;
        }

        .mobileMenuToggle {
            margin-right: 40px !important;
        }
    }

}

@media only screen and (max-width: 600px) {

    .navParent {

        .logoParent {
            margin-left: 30px !important;
        }

        .mobileMenuToggle {
            margin-right: 30px !important;
        }
    }

}

@media only screen and (max-width: 500px) {

    .navParent {
        height: 60px !important;

        .logoParent {
            margin-left: 20px !important;

            .logo {
                width: 45px !important;
                height: 45px !important;
            }
        }

        .mobileMenuToggle {
            margin-right: 20px !important;
        }
    }

}

@media only screen and (max-width: 370px) {

    .navParent {

        .logoParent {
            margin-left: 15px !important;
        }

        .mobileMenuToggle {
            margin-right: 15px !important;
        }
    }

}

@media only screen and (max-width: 300px) {

    .navParent {

        .logoParent {
            margin-left: 10px !important;
        }

        .mobileMenuToggle {
            margin-right: 10px !important;
        }
    }

}

@media only screen and (max-width: 650px) {

    .mobileMenuParent {

        .mobileMenu {

            a > div {

                span {
                    font-size: 30px !important;
                }

                i {
                    font-size: 20px !important;
                    margin-right: 15px !important;
                }
            }
        }
    }

}

@media only screen and (max-width: 500px) {

    .mobileMenuParent {

        .mobileMenu {

            a > div {

                span {
                    font-size: 27px !important;
                }

                i {
                    font-size: 18px !important;
                }
            }
        }
    }

}

@media only screen and (max-width: 400px) {

    .mobileMenuParent {

        .mobileMenu {

            a > div {

                span {
                    font-size: 25px !important;
                }

                i {
                    font-size: 17px !important;
                    margin-right: 10px !important;
                }
            }
        }
    }

}

@media only screen and (max-width: 300px) {

    .mobileMenuParent {

        .mobileMenu {

            a > div {

                span {
                    font-size: 22px !important;
                }

                i {
                    font-size: 16px !important;
                    margin-right: 8px !important;
                }
            }
        }
    }

}