@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

:root {
    --background-color-1: rgb(255, 255, 255);
    --background-color-2: rgb(245, 245, 245);
    --font-family: 'Poppins', sans-serif;
    --transition: .3s;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    user-select: none;
    transition: var(--transition);
}

body.color-1 {
    --primary-color: rgb(107, 31, 128);
}

body.color-2 {
    --primary-color: rgb(26, 60, 161);
}

body.color-3 {
    --primary-color: red;
}

body.color-4 {
    --primary-color: yellow;
}

body.color-5 {
    --primary-color: limegreen;
}

body.dark {
    --background-color-1: rgb(24, 24, 35);
    --background-color-2: rgb(34, 34, 45);
}

body {
    background-color: var(--background-color-1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

html {
    scroll-behavior: smooth;
}



// ----- ----- ----- --------------- ----- -----
// ----- ----- ----- Navigation Menu ----- -----
// ----- ----- ----- --------------- ----- -----



.navParent {
    position: fixed;
    z-index: 99999;
    background-color: var(--background-color-1);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: var(--transition);

    .logoParent {

        .logo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 2px;
            border: 1px solid var(--primary-color);
            box-shadow: 0 0 10px 2px var(--primary-color);
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .menuParent {

        .menu {

            ul li {
                display: inline-block;

                a.active::before {
                    width: 100%;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: var(--primary-color);
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 20px;
                    margin: 0 30px;
                    text-transform: capitalize;
                    font-style: italic;
                    letter-spacing: 1px;
                    position: relative;
                    padding-bottom: 2px;
                    transition: var(--transition);

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: var(--primary-color);
                        height: 1px;
                        width: 20px;
                        bottom: 0;
                        left: 0;
                        transition: var(--transition);
                    }

                    &:hover::before {
                        width: 100%;
                    }

                    i {
                        margin-right: 8px;
                        font-size: 18px;
                        transition: 0s;
                    }
                }
            }
        }
    }

    .settingsParent {
        position: relative;

        .theme, .settings {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            position: relative;

            &:hover {
                animation: themeAnimation .9s forwards infinite ease-out;
            }

            @keyframes themeAnimation {
                
                from {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-4px);
                }

                to {
                    transform: translateY(0);
                }

            }

            p {
                color: var(--primary-color);
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 20px;
                text-transform: capitalize;
                font-style: italic;
                letter-spacing: 1px;
            }

            i {
                color: var(--primary-color);
                margin-right: 8px;
                font-size: 18px;
            }
        }

        .settingsMenu {
            display: none;
            height: 130px;
            width: 300px;
            background-color: var(--background-color-1);
            border-radius: var(--border-radius);
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translateX(-46%);
            opacity: 0;
            animation: settingsMenuAnimation .5s forwards;

            @keyframes settingsMenuAnimation {

                0% {
                    top: 55px;
                    opacity: 0;
                }

                100% {
                    top: 70px;
                    opacity: 1;
                }

            }

            .theme {
                margin-top: 15px;
            }

            .colorsParent {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                text-align: center;
                margin: 0 auto;
                margin-top: 20px;

                .colors {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    background-color: var(--primary-color);
                    cursor: pointer;
                }

                .colors.color-1 {
                    --primary-color: rgb(107, 31, 128);
                }

                .colors.color-2 {
                    --primary-color: rgb(26, 60, 161);
                }

                .colors.color-3 {
                    --primary-color: red;
                }

                .colors.color-4 {
                    --primary-color: yellow;
                }

                .colors.color-5 {
                    --primary-color: limegreen;
                }
            }
        }
    }
}