@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
    --background-color-1: rgb(255, 255, 255);
    --background-color-2: rgb(245, 245, 245);
    --theme-color: rgb(40, 40, 40);
    --error-color: #9c1c1c;
    --font-family: 'Poppins', sans-serif;
    --font-family-2: 'Cinzel', serif;
    --transition: .3s;
    --border-radius: 10px;
    --animation-duration: .7s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    user-select: none;
    transition: var(--transition);
}

::-webkit-scrollbar {
    background-color: var(--background-color-1);
    width: 8px;
    transition: var(--transition);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

body.color-1 {
    --primary-color: rgb(107, 31, 128);
}

body.color-2 {
    --primary-color: rgb(50, 83, 184);
}

body.color-3 {
    --primary-color: rgb(8, 117, 72);
}

body.color-4 {
    --primary-color: rgb(172, 28, 70);
}

body.color-5 {
    --primary-color: rgb(202, 95, 24);
}

body.dark {
    --background-color-1: rgb(24, 24, 35);
    --background-color-2: rgb(29, 29, 40);
    --theme-color: rgb(210, 210, 210);
}

body {
    overflow-x: hidden;
    background-color: var(--background-color-1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

html {
    scroll-behavior: smooth;
}

.mouse {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    transform: translate(-50%, -50%);
    z-index: 999999999;
    pointer-events: none;
    transition: .1s;
    top: 50%;
    left: 50%;
    opacity: 0;
}



// ----- ----- ----- --------------- ----- -----
// ----- ----- ----- Navigation Menu ----- -----
// ----- ----- ----- --------------- ----- -----



.navParent {
    position: fixed;
    z-index: 99999;
    background-color: var(--background-color-1);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    transition: var(--transition);
    animation: NavAnim var(--animation-duration) forwards .5s;
    transform: translateY(-100px);
    opacity: 0;

    @keyframes NavAnim {

        0% {
            transform: translateY(-100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }

    }

    .mobileMenuToggle {
        display: none;
        cursor: pointer;
        height: 100%;

        .menuToggle {
            top: 50%;
            transform: translateY(-50%);
            position: relative;
            height: 2px;
            width: 25px;
            border-radius: var(--border-radius);
            background-color: var(--primary-color);

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 35px;
                left: 0;
                background-color: var(--primary-color);
            }

            &::before {
                top: -12px;
            }

            &::after {
                bottom: -12px;
            }
        }
    }

    .logoParent {

        .logo {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            padding: 2px;
            border: 1px solid var(--primary-color);
            box-shadow: 0 0 10px 2px var(--primary-color);
            
            img {
                border-radius: 50%;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .menuParent {

        .menu {

            ul li {
                display: inline-block;

                a.active::before {
                    width: 100%;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: var(--primary-color);
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 18px;
                    margin: 0 25px;
                    text-transform: capitalize;
                    font-style: italic;
                    letter-spacing: 1px;
                    position: relative;
                    padding-bottom: 2px;
                    transition: var(--transition);

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: var(--primary-color);
                        height: 1px;
                        width: 20px;
                        bottom: 0;
                        left: 0;
                        transition: var(--transition);
                    }

                    &:hover::before {
                        width: 100%;
                    }

                    i {
                        margin-right: 8px;
                        font-size: 16px;
                        transition: 0s;
                    }
                }
            }
        }
    }
}

.mobileMenuParent {
    display: none;
    z-index: 9999999999;
    background-color: var(--background-color-1);
    height: 100vh;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    align-items: center;
    animation: mobileMenuAnim var(--animation-duration) forwards;

    @keyframes mobileMenuAnim {

        0% {
            width: 0;
        }

        100% {
            width: 100vw;
        }

    }

    .mobileMenu {
        height: 100vh;
        width: 100%;

        a > div {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 20%;
            border-bottom: 1px solid var(--primary-color);
            transition: var(--transition);
            
            &:hover {
                background-color: var(--primary-color);
            }
            
            &:hover span,
            &:hover i {
                color: var(--background-color-1);
            }
            
            span {
                color: var(--primary-color);
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 40px;
                text-transform: capitalize;
                font-style: italic;
                letter-spacing: 3px;
                transition: var(--transition);
            }
            
            i {
                color: var(--primary-color);
                font-size: 30px;
                transition: var(--transition);
                margin-right: 20px;
            }
        }

        a[href = "#contact"] > div {
            border: none;
        }
    }
}



// ----- ----- ----- ---- ----- ----- -----
// ----- ----- ----- Home ----- ----- -----
// ----- ----- ----- ---- ----- ----- -----



.homeParent {
    padding: 0 60px;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color-1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
    position: relative;

    .imgParent {
        position: relative;
        height: 50%;
        border-radius: var(--border-radius);
        transform: translateY(-5%) scale(0.0);
        animation: HomeImgAnim var(--animation-duration) forwards 1.5s;

        @keyframes HomeImgAnim {

            0% {
                transform: translateY(-5%) scale(0.0);
            }

            100% {
                transform: translateY(-5%) scale(1.0);
            }

        }

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: var(--primary-color);
            transform: rotate(0deg);
            border-radius: var(--border-radius);
            transition: var(--transition);
            animation: HomeImgBeforeAnim .5s forwards 2.2s;

            @keyframes HomeImgBeforeAnim {

                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(-7deg);
                }

            }
        }

        img {
            position: relative;
            border-radius: var(--border-radius);
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .contentParent {
        transform: translateX(-70px) translateY(-25%);
        animation: HomeContentAnim var(--animation-duration) forwards 1s;
        opacity: 0;

        @keyframes HomeContentAnim {

            0% {
                opacity: 0;
                transform: translateX(-70px) translateY(-25%);
            }

            100% {
                opacity: 1;
                transform: translateX(0) translateY(-25%);
            }

        }

        h2 {
            color: var(--theme-color);
            padding-left: 35px;
            font-size: 14px;
            font-family: var(--font-family-2);
            font-weight: 600;
            letter-spacing: 3px;
            position: relative;
            text-transform: uppercase;

            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 20px;
                background-color: var(--theme-color);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        h1 {
            margin-top: 10px;
            color: var(--theme-color);
            font-size: 55px;
            font-family: var(--font-family);
            font-weight: 400;

            span {
                color: var(--primary-color);
            }
        }

        h3 {
            margin-top: 10px;
            color: var(--primary-color);
            letter-spacing: 3px;
            font-size: 15px;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }

        p {
            color: var(--theme-color);
            font-style: italic;
            font-family: var(--font-family);
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            width: 70%;
            margin-top: 25px;
            line-height: 25px;
        }
    }
}

.settingsParent.open {
    right: -260px;
}

.settingsParent.close {
    right: 10px;
}

.settingsParent {
    height: 70px;
    width: 300px;
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    z-index: 999;
    transition: var(--transition);
    animation: settingsAnim var(--animation-duration) forwards 1.2s;
    transform: translateX(150px);

    @keyframes settingsAnim {

        0% {
            transform: translateX(150px);
        }

        100% {
            transform: translateX(0);
        }

    }

    .btnParent {
        height: 100%;
        width: 10%;

        > div {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;

            i {
                font-size: 22px;
                color: var(--primary-color);
            }
        }
    }

    .colorsParent {
        margin-left: 4%;
        width: 86%;
        height: 100%;
        background-color: var(--background-color-1);
        border-radius: var(--border-radius);
        border: 1px solid var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .colors {
            height: 37px;
            width: 37px;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }

        .color-1 {
            background-color: rgb(107, 31, 128);
        }

        .color-2 {
            background-color: rgb(50, 83, 184);
        }

        .color-3 {
            background-color: rgb(8, 117, 72);
        }

        .color-4 {
            background-color: rgb(172, 28, 70);
        }

        .color-5 {
            background-color: rgb(202, 95, 24);
        }
    }
}



// ----- ----- ----- ----- ----- ----- -----
// ----- ----- ----- About ----- ----- -----
// ----- ----- ----- ----- ----- ----- -----



.allSectionParents {
    padding-top: 50px;
    margin-top: -50px;
}

.aboutParent {
    background-color: var(--background-color-2);
    min-height: 790px;
}

.aboutParent, .sectionWidthParent {
    padding: 70px 200px;

    #aboutAnimationParent {
        display: none;
    }

    .aboutHeader, .sectionHeader {
        animation: HeaderAnim var(--animation-duration) forwards .5s;
        opacity: 0;
        transform: translateX(-70px);

        @keyframes HeaderAnim {

            0% {
                opacity: 0;
                transform: translateX(-70px);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }

        }

        h2 {
            color: var(--theme-color);
            padding-left: 35px;
            font-size: 14px;
            font-family: var(--font-family-2);
            font-weight: 600;
            letter-spacing: 3px;
            position: relative;
            text-transform: uppercase;

            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 20px;
                background-color: var(--theme-color);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: var(--transition);
            }
        }

        h1 {
            margin-top: 10px;
            color: var(--theme-color);
            font-size: 50px;
            font-family: var(--font-family);
            font-weight: 400;
            text-transform: capitalize;

            span {
                color: var(--primary-color);
            }
        }
    }

    .aboutContentParent {
        margin-top: 80px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        text-align: start;

        > div {
            width: 100%;
        }

        .aboutImgParent {
            justify-content: center;
            display: flex;

            .aboutImg  {
                z-index: 1;
                height: 50vh;
                border-radius: var(--border-radius);
                position: relative;
                animation: aboutImgAnim var(--animation-duration) forwards 1s;
                transform: scale(0.0);

                @keyframes aboutImgAnim {

                    0% {
                        transform: scale(0.0);
                    }
                    
                    100% {
                        transform: scale(1.0);
                    }

                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-color: var(--primary-color);
                    transform: rotate(0deg);
                    border-radius: var(--border-radius);
                    transition: var(--transition);
                    animation: aboutRotateAnim .5s forwards 1.5s;

                    @keyframes aboutRotateAnim {

                        0% {
                            transform: rotate(0deg);
                        }
                        
                        100% {
                            transform: rotate(-7deg);
                        }

                    }
                }

                img {
                    position: relative;
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                    border-radius: var(--border-radius);
                }
            }
        }

        .aboutContent {

            @keyframes aboutContentAnim {
                
                0% {
                    transform: translateX(-70px);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }

            }
            
            h1 {
                font-size: 30px;
                text-transform: capitalize;
                letter-spacing: 1px;
                color: var(--theme-color);
                font-family: var(--font-family);
                font-weight: 400;
                letter-spacing: 1px;
                animation: aboutContentAnim var(--animation-duration) forwards;
                animation-delay: 1.5s;
                transform: translateX(-70px);
                opacity: 0;

                span {
                    color: var(--primary-color);
                }
            }

            h2 {
                font-size: 18px;
                letter-spacing: 2px;
                color: var(--theme-color);
                margin-top: 20px;
                font-weight: 400;
                text-transform: capitalize;
                font-family: var(--font-family);
                animation: aboutContentAnim var(--animation-duration) forwards;
                animation-delay: 1.8s;
                transform: translateX(-70px);
                opacity: 0;
            }

            .dateParent {
                margin-top: 30px;
                display: flex;
                align-items: center;
                text-align: start;
                justify-content: flex-start;
                animation: aboutContentAnim var(--animation-duration) forwards;
                animation-delay: 2.1s;
                transform: translateX(-70px);
                opacity: 0;

                p, a {
                    color: var(--theme-color);
                    letter-spacing: 2px;
                    font-size: 19px;
                    font-weight: 400;
                    margin-top: 10px;
                    font-family: var(--font-family);
                }

                .data {
                    margin-right: 50px;

                    p {
                        letter-spacing: 2px;
                        color: var(--primary-color);
                    }
                }
            }

            button {
                margin-top: 45px;
                border-radius: var(--border-radius);
                padding: 9px 23px;
                font-size: 17px;
                font-family: var(--font-family);
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                letter-spacing: 1px;
                color: var(--primary-color);
                border: 1px solid var(--primary-color);
                transition: var(--transition);
                animation: aboutContentAnim var(--animation-duration) forwards;
                animation-delay: 2.3s;
                transform: translateX(-70px);
                opacity: 0;

                &:hover {
                    border-color: transparent;
                    color: white;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}



// ----- ----- ----- ------ ----- ----- -----
// ----- ----- ----- Skills ----- ----- -----
// ----- ----- ----- ------ ----- ----- -----



.skillsParent {
    background-color: var(--background-color-1);
    min-height: 760px;

    #skillsAnimationParent {
        display: none;
    }

    .skillsContentParent {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: start;

        .skillsContent {
            width: 40%;

            @mixin skills_animation_1($delay) {
                
                animation: skills_animation_1 var(--animation-duration) forwards $delay;
                opacity: 0;
                transform: translateX(-70px);

                @keyframes skills_animation_1 {

                    0% {
                        opacity: 0;
                        transform: translateX(-70px);
                    }
                    
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                    }

                }
                
            }

            .skillsContentChild:nth-child(1) {
                @include skills_animation_1(1s);
            }

            .skillsContentChild:nth-child(2) {
                @include skills_animation_1(1.2s);
            }

            .skillsContentChild:nth-child(3) {
                @include skills_animation_1(1.4s);
            }

            .skillsContentChild {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: start;
                text-transform: capitalize;
                margin: 50px 0;

                .child:nth-of-type(2) {
                    margin-left: 40px;
                }

                .child {
                    
                    i {
                        color: var(--primary-color);
                        font-size: 35px;
                        transition: var(--transition);
                    }

                    h3 {
                        color: var(--primary-color);
                        font-family: var(--font-family);
                        letter-spacing: 1px;
                        font-size: 35px;
                        font-weight: 400;
                        transition: var(--transition);
                    }

                    p {
                        color: var(--theme-color);
                        font-family: var(--font-family);
                        letter-spacing: 1px;
                        font-size: 15px;
                        margin-top: 5px;
                        line-height: 25px;
                    }
                }
            }
        }

        .progressParent {
            width: 57%;
            margin-left: 3%;

            .progressChild {
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
                text-align: start;

                @mixin progressbar($content) {

                    &::after {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: $content;
                        background-color: var(--primary-color);
                        border-radius: var(--border-radius);
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: var(--transition);
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: var(--primary-color);
                        height: 1px;
                        width: 0;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: var(--border-radius);
                        transition: var(--transition);
                        animation: skills_animation_2 var(--animation-duration) forwards 1.6s;
                    }

                    @keyframes skills_animation_2 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 100%;
                        }

                    }

                }

                @mixin skills_text_animation($delay) {

                    animation: skills_text_animation var(--animation-duration) forwards $delay;
                    transform: translateX(-30px);
                    opacity: 0;

                    @keyframes skills_text_animation {

                        0% {
                            transform: translateX(-30px);
                            opacity: 0;
                        }
                        
                        100% {
                            transform: translateX(0);
                            opacity: 1;
                        }

                    }

                }

                .progress {
                    margin-top: 45px;
                    
                    h2 {
                        letter-spacing: 2px;
                        font-weight: 400;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-family: var(--font-family);
                        color: var(--theme-color);
                    }

                    .progressbar {
                        position: relative;
                        margin-top: 10px;
                        height: 6px;
                        width: 270px;
                        border-radius: var(--border-radius);
                    }
                }

                .html h2 {
                    @include skills_text_animation(2.6s);
                }

                .html .progressbar {
                    @include progressbar(95%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_3 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_3 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 95%;
                        }

                    }
                }

                .css h2 {
                    @include skills_text_animation(2.7s);
                }

                .css .progressbar {
                    @include progressbar(85%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_4 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_4 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 85%;
                        }

                    }
                }

                .js h2 {
                    @include skills_text_animation(2.8s);
                }

                .js .progressbar {
                    @include progressbar(70%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_5 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_5 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 70%;
                        }

                    }
                }

                .php h2 {
                    @include skills_text_animation(2.9s);
                }

                .php .progressbar {
                    @include progressbar(50%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_6 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_6 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 50%;
                        }

                    }
                }

                .mysql h2 {
                    @include skills_text_animation(3s);
                }

                .mysql .progressbar {
                    @include progressbar(85%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_7 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_7 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 85%;
                        }

                    }
                }

                .ajax h2 {
                    @include skills_text_animation(3.1s);
                }

                .ajax .progressbar {
                    @include progressbar(65%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_8 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_8 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 65%;
                        }

                    }
                }

                .jquery h2 {
                    @include skills_text_animation(3.2s);
                }

                .jquery .progressbar {
                    @include progressbar(70%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_9 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_9 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 70%;
                        }

                    }
                }

                .bootstrap h2 {
                    @include skills_text_animation(3.3s);
                }

                .bootstrap .progressbar {
                    @include progressbar(75%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_10 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_10 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 75%;
                        }

                    }
                }

                .sass h2 {
                    @include skills_text_animation(3.4s);
                }

                .sass .progressbar {
                    @include progressbar(75%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_11 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_11 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 75%;
                        }

                    }
                }

                .git h2 {
                    @include skills_text_animation(3.5s);
                }

                .git .progressbar {
                    @include progressbar(90%);
                    
                    &::after {
                        width: 0;
                        animation: skills_animation_12 var(--animation-duration) forwards 2.2s;
                    }

                    @keyframes skills_animation_12 {

                        0% {
                            width: 0;
                        }

                        100% {
                            width: 90%;
                        }

                    }
                }
            }
        }
    }
}



// ----- ----- ----- ----- ----- ----- -----
// ----- ----- ----- Works ----- ----- -----
// ----- ----- ----- ----- ----- ----- -----



.worksParent {
    background-color: var(--background-color-2);
    min-height: 1000px;

    #worksAnimationParent {
        display: none;
    }

    .worksContentParent {
        margin-top: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-flow: wrap row;
        text-align: start;
        gap: 50px;

        .worksContent:nth-child(1) {
            animation: worksAnimation var(--animation-duration) forwards 1.2s;
        }

        .worksContent:nth-child(2) {
            animation: worksAnimation var(--animation-duration) forwards 1.4s;
        }

        .worksContent:nth-child(3) {
            animation: worksAnimation var(--animation-duration) forwards 1.6s;
        }

        .worksContent:nth-child(4) {
            animation: worksAnimation var(--animation-duration) forwards 1.8s;
        }

        .worksContent:nth-child(5) {
            animation: worksAnimation var(--animation-duration) forwards 2s;
        }

        .worksContent:nth-child(6) {
            animation: worksAnimation var(--animation-duration) forwards 2.2s;
        }

        @keyframes worksAnimation {

            0% {
                opacity: 0;
                transform: translateX(-50px);
            }
            
            100% {
                opacity: 1;
                transform: translateX(0);
            }

        }

        .worksContent {
            transform: translateX(-50px);
            opacity: 0;
            width: 450px;
            cursor: pointer;
            border-radius: var(--border-radius);
            overflow: hidden;

            &:hover img {
                scale: 1.2;
            }

            .worksImageParent {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: var(--border-radius);
            }

            img {
                height: 100%;
                width: 100%;
                border-radius: var(--border-radius);
                object-fit: cover;
                object-position: center;
                transform-origin: center;
                transition: var(--transition);
            }

            h3 {
                margin-top: 15px;
                margin-left: 5px;
                font-family: var(--font-family);
                color: var(--primary-color);
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: capitalize;
            }

            p {
                text-transform: capitalize;
                margin-left: 5px;
                margin-top: 5px;
                color: var(--theme-color);
                letter-spacing: 1px;
                font-size: 16px;
                font-family: var(--font-family);
            }
        }
    }
}



// ----- ----- ----- ------- ----- ----- -----
// ----- ----- ----- Contact ----- ----- -----
// ----- ----- ----- ------- ----- ----- -----



.contactParent {
    background-color: var(--background-color-1);
    min-height: 760px;

    #contactAnimationParent {
        display: none;
    }

    .contactContentParent {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: start;
        margin-top: 40px;

        > div {
            width: 100%;
        }

        .contactFormParent {

            .contactForm {
                display: flex;
                align-items: flex-start;
                text-align: start;
                justify-content: flex-start;
            }

            .formItem {
                transform: translateX(-70px);
                opacity: 0;
                animation: contactFormAnim var(--animation-duration) forwards;
                position: relative;
                margin: 15px;

                input.err, textarea.err {
                    border: 1px solid var(--error-color);
                    caret-color: var(--error-color);
                }

                input, textarea {
                    color: var(--theme-color);
                    font-size: 17px;
                    font-family: var(--font-family);
                    font-weight: 400;
                    letter-spacing: 1px;
                    padding: 15px;
                    border: none;
                    outline: none;
                    resize: none;
                    background-color: var(--background-color-1);
                    border: 1px solid var(--primary-color);
                    border-radius: var(--border-radius);
                    caret-color: var(--primary-color);

                    &:focus {
                        outline: none;
                    }

                    &::selection {
                        background-color: transparent;
                        color: var(--primary-color);
                    }
                }

                input {
                    height: 55px;
                    width: 300px;
                }

                textarea {
                    height: 200px;
                    width: 630px;
                }

                label {
                    padding: 0 5px;
                    position: absolute;
                    font-family: var(--font-family);
                    font-weight: 400;
                    color: var(--primary-color);
                    letter-spacing: 1px;
                    background-color: var(--background-color-1);
                    left: 15px;
                    top: 15px;
                    font-size: 17px;
                    transition: var(--transition);
                    border-radius: var(--border-radius);
                }

                label.valid {
                    left: 10px;
                    top: -12px;
                    font-size: 15px;
                }

                label.notValid {
                    left: 15px;
                    top: 15px;
                    font-size: 17px;
                }

                label.err {
                    color: var(--error-color);
                }

                #submit {
                    margin-top: 10px;
                    border-radius: var(--border-radius);
                    padding: 9px 23px;
                    font-size: 17px;
                    font-family: var(--font-family);
                    border: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    letter-spacing: 1px;
                    color: var(--primary-color);
                    background-color: var(--background-color-1);
                    border: 1px solid var(--primary-color);
                    transition: var(--transition);

                    &:hover {
                        border-color: transparent;
                        color: white;
                        background-color: var(--primary-color);
                    }
                }
            }

            @keyframes contactFormAnim {

                0% {
                    transform: translateX(-70px);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }

            }

            .formItem1 {
                animation-delay: 1s;
            }

            .formItem2 {
                animation-delay: 1.2s;
            }

            .formItem3 {
                animation-delay: 1.4s;
            }

            .formItem4 {
                animation-delay: 1.6s;
            }

            .formItem5 {
                animation-delay: 1.8s;
            }

            .formItem6 {
                animation-delay: 2s;
            }
        }
    }
}